h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-family: 'Major Mono Display', monospace;
  background-color: white;

}

h2 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
  font-family: 'ZCOOL KuaiLe', cursive;

}

h3 {
  color: white;
  text-align: center;
}

p, li {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 1px;
  margin:  20px 0 0 130px;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Indie Flower', cursive;
}

.context, td {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 1px;
  margin:  20px 0 0 0;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Indie Flower', cursive;
}

.sharinglist {
  font-size: 18px;
  line-height:   2;
  letter-spacing: 1px;
  margin:  20px 0 0 0;
  font-family: 'Noto Sans TC', sans-serif;
}

.footer {
  color: white;
  background: black;
  margin:auto;
  height: auto;
  padding: 40px 0 5px 0;
}



body {
  margin: 3% auto;
  background-color: white;
  background-image: url(images/woodground02.jpg);
}

/*
img {
  width: 100px;
  vertical-align:middle;
}
*/

img {
  height: auto;
  max-width: 100%;
}


.logo {
  width: 8%;
  vertical-align:middle;

}

.blogtitle {
  max-width: 100%;
  background: black;
}

.blogpage {
  max-width: 40%;
  background: black;
}

a {
    text-decoration:none;
    color:black;
}

.listlink {

  color:white;
}

header {
      max-width:85%;
      height: 100px;
      margin:auto;
      background-color: white;
}

article {
  color: white;
  background: black;
}


video {
  width:800px;
  height: auto;
  padding: 100px 0 0 0;
}







/*
Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 768px) {
  video {
    width:80px;
    height:80px;
  }

  h1, h2, h3, .sharinglist, td{
    font-size: 10px;
  }
}
/* Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 480px) {
  video {
    /*
    height: auto;
    max-width: 100%;
    */
    width:80px;
    height:80px;
  }
}
/* Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 320px) {
  video {
    /*
    height: auto;
    max-width: 100%;
    */
    width:80px;
    height:80px;
  }
}

.video-container {

position: relative;

padding-bottom: 56.25%;

padding-top: 30px;

height: 0;

overflow: hidden;

}

.video-container iframe, .video-container object, .video-container embed {

position: absolute;

top: 17.5%;left: 17.5%;

width: 70%;

height: 70%;}
