h1 {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-family: 'Major Mono Display', monospace;
  background-color: white;

}

h2 {
  font-size: 50px;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;

}

h3 {
  color: white;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 3;
  letter-spacing: 1px;
  margin:  20px 0 0 130px;
  font-family: 'Shadows Into Light', cursive;
  font-family: 'Indie Flower', cursive;
}

body {
  margin: 3% auto;
  background-color: white;
}

/*
img {
  width: 100px;
  vertical-align:middle;
}
*/


img {
  height: auto;
  max-width: 100%;
}


.logo {
  width: 100px;
  vertical-align:middle;

}

a {
    text-decoration:none;
    color:black;
}

header {
      max-width:85%;
      height: 100px;
      margin:auto;
      background-color: white;
}

article {
  color: white;
  background: black;
}


video {
  width:800px;
  height:800px;
}




/*
Media Query ，也就是當寬度 < 768 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 768px) {
  video {
    width:80px;
    height:80px;
  }
}
/* Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 480px) {
  video {
    /*
    height: auto;
    max-width: 100%;
    */
    width:80px;
    height:80px;
  }
}
/* Media Query ，也就是當寬度 < 480 px 時將載入下面這段 CSS :
*/
@media only screen and (max-width: 320px) {
  video {
    /*
    height: auto;
    max-width: 100%;
    */
    width:80px;
    height:80px;
  }
}
